/03 - MATERIAIS E EQUIPAMENTOS/
/04 - SERVIÇOS PRELIMINARES/
/05 - FUNDAÇÕES/
/06 - ESTRUTURA DE CONCRETO/
/07 - ESTRUTURA METÁLICA/
/08 - VEDAÇÃO VERTICAL/
/09 - IMPERMEABILIZAÇÃO E ISOLAMENTO/
/10 - ACABAMENTOS - PISOS/
/11 - ACABAMENTOS - PAREDE E TETO/
/12 - ESQUADRIAS/
/13 - INSTALAÇÕES HIDRÁULICAS/
/14 - INSTALAÇÕES ELÉTRICAS/
/15 - SERVIÇOS COMPLEMENTARES/
/16 - COBERTURAS/
/17 - REPAROS E LIMPEZA GERAL DA OBRA/
/18 - RECEBIMENTO DE OBRA E SERVIÇOS/
